[run]
source = .
branch = False
timid = True
[report]
show_missing = True
include = api/*.py
omit =
    tests.py
    *_test.py
    *_tests.py
    */site-packages/*
    */migrations/*
[html]
title = Code Coverage
directory = local_coverage_report